---

---

<div class="relative isolate overflow-hidden bg-gray-50 py-12 sm:py-10" id="Contact">
  <div class="mx-auto max-w-7xl px-6 lg:px-8 mb-4 sm:mb-2">
        <div class="mx-auto max-w-2xl ">
            <div class="flex flex-row justify-center text-center">
                <a href="https://www.linkedin.com/in/zahrahakimi777/" class=" mx-2">
                   <svg class="h-6 w-6 text-indigo-300"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z" />  <rect x="2" y="9" width="4" height="12" />  <circle cx="4" cy="4" r="2" /></svg>
                </a>
                <a href="https://github.com/zahrahkm" class=" mx-2">
                   <svg class="h-6 w-6 text-indigo-300"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22" /></svg>
                </a>
                <a href="https://www.instagram.com/zahra.hakimii/" class=" mx-2">
                   <svg class="h-6 w-6 text-indigo-300"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <rect x="2" y="2" width="20" height="20" rx="5" ry="5" />  <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z" />  <line x1="17.5" y1="6.5" x2="17.51" y2="6.5" /></svg>
                </a>
                <a href="mailto:zahrahakimi777@gmail.com" class=" mx-2">
                   <svg class="h-6 w-6 text-indigo-300"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                     <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"/>
                   </svg>
                </a>
            </div>
            <p class="mt-6 text-sm leading-8 text-gray-600 text-center">
            Designed by Zahra Hakimi. Powered by Astro and Tailwind.
            </p>
        </div>
  </div>

</div>
