---

---

<div class="relative isolate overflow-hidden bg-gray-50 py-24 sm:py-32" id="Portfolio">
  <div class="mx-auto max-w-7xl px-6 lg:px-8 mb-4 sm:mb-2">
    <div class="mx-auto max-w-2xl ">
      <h2 class="text-xl font-normal tracking-tight text-gray-800 sm:text-4xl text-center">My Experiences</h2>
      <p class="mt-6 text-lg leading-8 text-gray-600 text-justify">
      As a dedicated and enthusiastic individual with a strong work ethic, I am committed to achieving excellence in all that I do. I thrive in fast-paced environments and am always looking for new challenges to push my limits.
      </p>
    </div>
  </div>
<div class="mx-auto  max-w-2xl flex justify-center lg:max-w-none">
      <div class=" grid grid-cols-1 gap-8 sm:mt-20 sm:grid-cols-1 lg:grid-cols-3 ">
        <div class="flex flex-col ring-1 ring-gray-100 rounded px-8 py-6 shadow-lg text-center justify-center bg-white">
              <h2 class="font-medium text-lg leading-7 text-gray-600 mb-2">Frontend Developer</h2>
              <h3 class="font-medium text-md leading-7 text-indigo-300">Nov 2023 - Current</h3>
              <h3 class="font-medium text-md leading-7 text-gray-600  mb-2">Jamii.one</h3>
              <div class="flex flex-row justify-center">
              <svg class="h-4 w-4 text-indigo-300"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"/>
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"/>
              </svg>
              <p class="text-sm ml-2 text-center"> Copenhagen, Denmark</p>
              </div>
        </div>

       <div class="flex flex-col ring-1 ring-gray-100 rounded px-8 py-6 shadow-lg text-center justify-center bg-white">
             <h2 class="font-medium text-lg leading-7 text-gray-600 mb-2">Frontend Developer</h2>
             <h3 class="font-medium text-md leading-7 text-indigo-300">Apr 2023 - Oct 2023 (7m)</h3>
             <h3 class="font-medium text-md leading-7 text-gray-600  mb-2">Worthmore</h3>
             <div class="flex flex-row justify-center">
             <svg class="h-4 w-4 text-indigo-300"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                   <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"/>
                   <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"/>
             </svg>
             <p class="text-sm ml-2 text-center"> Copenhagen, Denmark</p>
             </div>
       </div>
        


        <div class="flex flex-col ring-1 ring-gray-100 rounded px-8 py-6 shadow-lg text-center justify-center bg-white">
              <h2 class="font-medium text-lg leading-7 text-gray-600 mb-2">Junior Frontend Developer</h2>
              <h3 class="font-medium text-md leading-7 text-indigo-300">Jul 2021 - Nov 2022 (1year 5m)</h3>
              <h3 class="font-medium text-md leading-7 text-gray-600  mb-2">Atena Ads</h3>
              <div class="flex flex-row justify-center">
              <svg class="h-4 w-4 text-indigo-300"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"/>
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"/>
              </svg>
              <p class="text-sm ml-2 text-center"> Karaj, Iran</p>
              </div>
        </div>


        <div class="flex flex-col ring-1 ring-gray-100 rounded px-8 py-6 shadow-lg text-center justify-center bg-white">
          <h2 class="font-medium text-lg leading-7 text-gray-600 mb-2">Wordpress developer</h2>
          <h3 class="font-medium text-md leading-7 text-indigo-300">Jul 2018 - Feb 2020 (1year 8m)</h3>
          <h3 class="font-medium text-md leading-7 text-gray-600  mb-2">Taksafir Law Firm</h3>
          <div class="flex flex-row justify-center">
          <svg class="h-4 w-4 text-indigo-300"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"/>
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"/>
          </svg>
          <p class="text-sm ml-2 text-center"> Karaj, Iran</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
