---

---

<div class="relative isolate overflow-hidden bg-white py-24 sm:py-32" id="Skills">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl mb-4 sm:mb-2">
      <h2 class="text-xl font-normal tracking-tight text-gray-800 sm:text-4xl text-center">What I Do?</h2>
      <p class="mt-6 text-lg leading-8 text-gray-600 text-justify">
        With years of experience as a front-end developer, specializing in TypeScript, JavaScript, React, and Vue.js, and holding a Master's degree in Software Engineering, I am constantly seeking opportunities to expand my skills and knowledge in various domains of computer science.
      </p>
    </div>
  </div>
<div class="mx-auto  max-w-2xl flex justify-center lg:max-w-none">
      <div class=" grid grid-cols-1 gap-8 sm:mt-20 sm:grid-cols-2 lg:grid-cols-3">

        <div class="flex flex-col ring-1 ring-gray-100 rounded px-8 py-8 shadow-lg text-center justify-center">
          <span class="mx-auto mb-4">
             <svg class="h-10 w-10 text-indigo-300"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"/>
             </svg>
          </span>
          <h2 class="font-medium text-lg leading-7 text-gray-600">Frontend Development</h2>
          <ul class="text-justify mt-4 text-base text-gray-500">
            <li>JavaScript, TypeScript</li>
            <li>React.Js, Vue.Js</li>
            <li>Redux, Next.Js </li>
            <li>Tailwind, Material UI</li>
            <li>HTML, CSS, Bootstrap</li>
          </ul>
        </div>


        <div class="flex flex-col ring-1 ring-gray-100 rounded px-8 py-8 shadow-lg text-center justify-start">
          <span class="mx-auto mb-4">
             <svg class="h-10 w-10 text-indigo-300"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <rect x="2" y="2" width="20" height="8" rx="2" ry="2" />  <rect x="2" y="14" width="20" height="8" rx="2" ry="2" />  <line x1="6" y1="6" x2="6.01" y2="6" />  <line x1="6" y1="18" x2="6.01" y2="18" />
             </svg>
          </span>
          <h2 class="font-medium text-lg leading-7 text-gray-600">Backend Development</h2>
          <ul class="text-justify mt-4 text-base text-gray-500">
            <li>Express.JS, PHP, Wordpress</li>
            <li>Firebase</li>
            <li>C#(Entry-level)</li>

          </ul>
        </div>


         <div class="flex flex-col ring-1 ring-gray-100 rounded px-8 py-8 shadow-lg text-center justify-start">
          <span class="mx-auto mb-4">
             <svg class="h-10 w-10 text-indigo-300"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"/>
             </svg>
          </span>
          <h2 class="font-medium text-lg leading-7 text-gray-600">Web Design</h2>
          <ul class="text-justify mt-4 text-base text-gray-500 ">
            <li>Adobe XD</li>
            <li>Adobe Photoshop</li>
            <li>Figma</li>
          </ul>
         </div>
      </div>
    </div>
  </div>
  </div>
</div>
