---

---

<div class="relative isolate overflow-hidden bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl mb-4 sm:mb-6">
      <h2 class="text-xl font-normal tracking-tight text-gray-800 sm:text-4xl text-center">Education</h2>
    </div>
  <div class="mx-auto  max-w-2xl flex justify-center lg:max-w-none">
      <div class=" grid grid-cols-1 gap-8 sm:grid-cols-1 lg:grid-cols-2 text-center">

        <div class="flex flex-col ring-1 ring-gray-100 rounded px-10 py-12 shadow-lg justify-center ">
                    <h2 class="font-medium text-lg leading-7 text-gray-600">M.Sc. Computer Science</h2>

                        <h3 class="font-normal text-md leading-7 text-gray-500"> Islamic Azad University, Tehran.</h3>
                        <h3 class="font-normal text-md leading-7 text-indigo-300 ml-8 sm:ml-4">2020-2022</h3>
                </div>

        <div class="flex flex-col ring-1 ring-gray-100 rounded px-10 py-12 shadow-lg justify-center">
            <h2 class="font-medium text-lg leading-7 text-gray-600">B.Sc. Computer Science</h2>

                <h3 class="font-normal text-md leading-7 text-gray-500"> Islamic Azad University, Karaj.</h3>
                <h3 class="font-normal text-md leading-7 text-indigo-300 ml-8 sm:ml-4">2014-2018</h3>

        </div>
      </div>
  </div>
</div>
</div>