---
export interface Props {
	name: string;
}

const { name } = Astro.props;


---


<div class="relative isolate overflow-hidden bg-gray-50 py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-8 lg:px-8 sm:my-10">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-3xl font-medium tracking-tight text-slate-600 sm:font-normal sm:text-6xl">Hi, I'm {name}</h2>
      <div class="mt-6 text-2xl sm:text-md leading-8 text-gray-600 flex flex-col sm:flex-row  justify-center">
        <p class="text-indigo-400 mr-2">Front-end Developer </p> & <p class="text-indigo-400 ml-2"> Web Designer</p>
      </div>

      <div class="flex -space-x-1 overflow-hidden mt-6 justify-center py-2">
         <img class="inline-block h-40 w-40 rounded-full ring-2 ring-white hover:ring-indigo-200" src="./zahra-hakimi.jpg" alt="">
      </div>
      <div class='mt-10 mx-auto flex row justify-center'>
        <svg class="h-6 w-6 text-indigo-300"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"/>
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"/>
            <p> Copenhagen, Denmark</p>
        </svg>
      </div>
    </div>
  </div>
</div>

